body {
    font-family: Arial, sans-serif;
}

.background {
    padding: 100px 0;
    background-image:url(Hero-bg.jpg); 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover; 
    color: white;
}

h1, h2 {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}